.no-margin {
    margin: 0 !important;
}

.img-table > div {
    max-width: 192px;
    max-height: 90px;
}

.img-table img {
    max-width: inherit !important;
    max-height: inherit !important;
}

.img-star-feedback {
    width: 1.5rem;
    height: 1.5rem;
}

.img-responsive {
    max-width: 100%;
    max-height: 150px;  
}

.img-responsive > img {
    max-width: inherit;
    max-height: inherit;
}

.react-datepicker-w100 > .react-datepicker-wrapper, .react-datepicker-w100 > .react-datepicker__input-container {
    display: block;
}

.img-ico-link {
    max-width: 85px;
    max-height: 65px;
    position: relative;
}

.img-ico-link img {
    max-width: inherit;
    max-height: inherit;
}

.img-ico-transaction-link {
    width: 100%;
    position: relative;
}

.img-ico-transaction-link img {
    width: inherit;
    height: inherit;
}

.font-size-control {
    font-size: 0.875rem
}

.no-border {
    border: 0 !important;
}