#map {
    min-height: 400px;
    max-height: 600px;
    width: 100%;
}

#information {
    padding: 10px 20px;
}

.img-ico-list {
    display: inline-block;
    margin-right: 1em;
}

.message-ico-list {
    line-height: 61px;
}